
header{
	background-color: #333333; /* estilos del head */
	
}

header img{
	width: 50%;
	margin: 5% auto;
}

header nav {
	text-align: center;  /* estilos del menu */
	margin-top: 4%;
}

header a {
	text-decoration: none;
	color: #A69B9B;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	margin: 0 1%;
}

.episodes p{							/* estilos last episodios */
	font-family: 'Arimo', sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 2% auto;
}

.episodes{
	background-color: #eeeeee;
	width: 100%;
	padding-bottom: 2%;
}

.banner {
	position: relative;
}

.episodes a{
	font-family: 'Arimo', sans-serif;
	text-decoration: none;
	font-size: 11px;

}

.banner a {
	position: absolute;
	bottom: -7%;
	left: 24%;
	font-weight: bold;
}

.episodes img {
	width: 100%;
}

.destacados a {
	text-align: center;
	font-size: 12px;
}

.principal {					/* estilos de la libreria */
	width: 100%;
	margin-top: 6%;
	text-align: center;
}

.box {							
	position: relative;

}

.principal .box img {
	margin: 0px 10px;
	width: 100%;
}

.box a {
	position: absolute;
	left: 30%;
	bottom: -30%;
	text-decoration: none;
	width: 80%;
}

.aside{						/* estilos del aside */
	margin-top: 18%;
}

h5 {
	font-size: 15px;
	font-family: 'Arimo', sans-serif;
}

hr{
	margin-top: 1%;
	width: 90%;
	border-width: 1px;
	border-style: solid;
	color: #0C62E3;

}

.enlaces img {
	width: 5%;
}

.enlaces {
	position: relative;

}

.enlaces a {
	position: absolute;
	left: 9%;
	top: 1%;
	color: #0C62E3;
}


.raya2 hr {
	margin-top: 2%;
	width: 90%;
	border-width: 1px;
	border-style: solid;
	color: #0C62E3;
}

.titulo-dos h5{
	margin-top: 7%;
}

.raya3 hr {
	margin-top: 9%;
	width: 90%;
	border-width: 1px;
	border-style: solid;
	color: #0C62E3;
}

.enlace-grande  {
	margin: 7% 5%;

}

.aside a{
	text-decoration: none;
}

footer {						/* estilos del footer */
	padding: 3% 0;
	margin-top: 4%;
	width: 100%;
	background-color: #333333;
	text-align: center; 
}


.footer1 p{
	font-size: 14px;
	text-align: left;
	color: #A69B9B;
	margin-bottom: 2%;
} 

.footer-menu a{
	color: #A69B9B;
	font-size: 14px;
	margin: 1%;
	text-decoration: none;
}


.footer2 p{
	margin-top: 2%;
	font-size: 10px;
	text-align: center;
	color: #A69B9B;
} 





